.whoweare{
    background-color: #19191B;
    height: 100vh;
    margin-top: -20px;
}

.whoweare-wrapper{
    display: flex;

}

.whoweare-left{
    flex: 0.5;
    color: white;
}

.whoweare-left h4{
    margin-top: 100px;
    margin-left: 80px;
    font-size: 40px;
}

.whoweare-right{
    flex: 0.5;
    color: white;
    margin-top: 200px;
}


.whoweare-right h6{
    width: 70%;
    font-size: 1rem;
    font-weight: 300;
}