.banner{
    background-color: #19191B;
    padding: 150px 10px 250px 10px;
}

.banner-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container{
    background-color: #FF6634;
    border-radius: 30px;
    width: 1110px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-container h5{
    width: 530px;
    color: white;
    font-size: 40px;
}

.banner-container button{
    padding: 10px 20px;
    color: #4270EC;
    font-size: 14px;
    border: none;
    border-radius: 10px;
}